{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            <div class="book col-md-4">
                {% for book in books %}
                <h2>{{ book.name }}</h2>
                <p>Автор: {{ book.author }}</p>
                <p>Дата публикации: {{ book.pub_date }}</p>
                {% endfor %}
            </div>
        </div>
        {% if prev_date %}
            <a href="{% url 'books' prev_date.pub_date %}">Назад</a>
        {% endif %}
        {% if next_date %}
            <a href="{% url 'books' next_date.pub_date %}">Вперед</a>
        {% endif %}
    </div>
{% endblock %}